<html ng-app="main">
<head >

<title>
@!section('title')

</title>

{{script("/js/app.js")}}
{{script("/js/materialize.min.js")}}
{{script("/js/angular.min.js")}}
{{script("/js/angular-route.min.js")}}
{{script("/js/script.js")}}
{{script("/js/fronthEnd/main_Module/main.js")}}
{{script("/js/fronthEnd/service_modules/data_factory.js")}}
{{script("/js/fronthEnd/editor_module/editorCtl.js")}}
{{script("/js/fronthEnd/sport_module/sportsCtl.js")}}
{{script("/js/fronthEnd/religion_module/religionCtl.js")}}
{{script("/js/fronthEnd/story_module/storiesCtl.js")}}
{{script("/js/fronthEnd/recipie/recipieCtl.js")}}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


{{css("/css/materialize.min.css")}}

</head>
<body class="#212121 grey darken-4">
@!section('body')

</body>
</html>
