<div class="" ng-controller="sportsCTL">
  <h2>sports</h2>
  <hr>
<br><br>
  <div class="row">
    <div class="co m6">
      <table class="bordered">
        <thead>
          <tr >
              <th>Article Discription</th>
              <th>Article</th>

          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="x in sportsArticleData">
            <td>{{x.doc_information}}</td>
          

          </tr>

        </tbody>
      </table>
    </div>
  </div>


<!-- <ul>

    <li ng-repeat="x in sportsArticleData"> {{x.doc_name}} </li>
</ul> -->

</div>
